name: CI

on:
  push:
  pull_request:
    branches:
      - master
      - develop


jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup openjdk
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup clojure
        uses: DeLaGuardo/setup-clojure@3.5
        with:
          cli: latest

      - name: Setup babashka
        uses: just-sultanov/setup-babashka@v2
        with:
          version: '0.6.8'

      - name: Setup clj-kondo
        uses: DeLaGuardo/setup-clj-kondo@master
        with:
          version: '2021.12.01'

      - name: Setup cljstyle
        uses: just-sultanov/setup-cljstyle@v1
        with:
          version: '0.15.0'

      - name: Cache deps
        uses: actions/cache@v2
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
            ~/.clojure
            ~/.cpcache
          key: ${{ runner.os }}-${{ hashFiles('**/deps.edn') }}

      - name: Run linters
        run: bb lint



  test:
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup environment variables
        run: >-
          echo 'CODECOV_TOKEN=${{ secrets.CODECOV_TOKEN }}' >> $GITHUB_ENV;

      - name: Setup openjdk
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup clojure
        uses: DeLaGuardo/setup-clojure@3.5
        with:
          cli: latest

      - name: Setup babashka
        uses: just-sultanov/setup-babashka@v2
        with:
          version: '0.6.8'

      - name: Cache deps
        uses: actions/cache@v2
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
            ~/.clojure
            ~/.cpcache
          key: ${{ runner.os }}-${{ hashFiles('**/deps.edn') }}

      - name: Start services
        run: bb up

      - name: Run tests
        run: bb test

      - name: Stop services
        run: bb down

      - name: Upload coverage
        run: bash <(curl -s https://codecov.io/bash) -t $CODECOV_TOKEN -f ./coverage/codecov.json



  deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup environment variables
        run: >-
          echo 'CLOJARS_USERNAME=${{ secrets.CLOJARS_USERNAME }}' >> $GITHUB_ENV;
          echo 'CLOJARS_PASSWORD=${{ secrets.CLOJARS_PASSWORD }}' >> $GITHUB_ENV;

      - name: Setup openjdk
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup clojure
        uses: DeLaGuardo/setup-clojure@3.5
        with:
          cli: latest

      - name: Setup babashka
        uses: just-sultanov/setup-babashka@v2
        with:
          version: '0.6.8'

      - name: Cache deps
        uses: actions/cache@v2
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
            ~/.clojure
            ~/.cpcache
          key: ${{ runner.os }}-${{ hashFiles('**/deps.edn') }}

      - name: Cleanup
        run: bb clean

      - name: Run build jar
        run: bb jar

      - name: Run deploy
        run: bb deploy
